<!-- register panel -->

{% extends 'base.html' %}
{% block content %}

<div style="width:1520px; text-align:center;">

<h1>Welcome to the Factory management system!</h1>
<hr align='left' width='1520' size='5' color='#0000AA'>
<br>

<h1>Sign Up</h1>
<form action='/register/result' method=post enctype=multipart/form-data>
	Username <input type=text name=username><br><br>
	Password <input type=password name=password><br><br>
	<input type=submit value=register style='height:40px; width:240px; display:inline-block; text-align:center;'>
</form>
<br>

<hr align='left' width='1520' size='5' color='#0000AA'>

</div>
{% endblock %}
