<!-- welcome panel -->
<!-- show welcome information -->

{% extends 'base.html' %}
{% block content %}

<div style="width:1520px;text-align:center;">

<h1>Welcome to the Factory management system!</h1>

<!-- login -->
<hr align='left' width='1520' size='5' color='#0000AA'>
<h1>Login</h1>
<a href='/login'>
	<input type=submit value=login style='height:40px; width:240px; display:inline-block; text-align:center;'>
</a>

<!-- register -->
<h1>Register</h1>
<a href='/register'>
	<input type=submit value='Create an account' style='height:40px; width:240px; display:inline-block; text-align:center;'>
</a>
<hr align='left' width='1520' size='5' color='#0000AA'>

{% endblock %}
